body{
    background-color: rgb(27, 27, 27);
}
.header{
    height: 600px;
    width:100%;
    background-color: aquamarine; 
}
.logo {
    width: 10%;
    margin-bottom: 15%;
    margin-left: 3%;
}
.banner {
    height: 600px;
    width: 80%;
    margin-left: 100px;
}
.main {
    background-color: beige;
}
.mainNav{
    text-align: center;
}
ul{
    display: inline-block;
}
li {
    display: inline-block;
}
.wrapper2{
    display: flex;
}
.bio{
    width: 50%;
    text-align: center;
    background-color: blue;
    height: 1000px;
}
.bioPic{
    width: 50%;
    text-align: center;
    background-color: brown;
    height: 1000px;
}
footer{
    text-align: center;
    background-color: blueviolet;
    height: 70px;
}
.artist {
    height: 800px;
}

#galleryNav{
    background-color: black;
    text-decoration-color: rgb(191, 64, 191);
    float: left;
    flex-direction: column;
    display: flex;
}

#galleryTitle{
    display: inline;
    text-align: center;
    line-height: 3;
}

#galleryLogo{
    float: right;
    padding-right: 3cm;
    width: 150px;
}

.libary{
    display: flex;
    width: 80%;
    height: 300px;
}

.gallery{
    padding-top: 3cm;
    width: 300px;
    height: 300px;
    display: grid;
}

.galleryBanner{
    height: 200px;
    float: right;
    text-align: center;
}

.appBanner{
    height: 200px;
    float: right;
    text-align: center;
}

.appBanner h1{
    color: rgb(191, 64, 191);
}

.appNav{
    float: left;
    flex-direction: column;
    display: flex;
}

#appTitle{
    display: inline;
    text-align: center;
    line-height: 3;
}

#appLogo{
    float: right;
    padding-right: 3cm;
    width: 150px;
}

.form{
    float: left;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.formText{
    color: rgb(191, 64, 191);;
}

.guestNav{
    text-decoration-color: rgb(191, 64, 191);
    float: left;
    flex-direction: column;
    display: flex;
}

#guestTitle{
    display: inline;
    text-align: center;
    line-height: 3;
    color: rgb(191, 64, 191);
}

#guestLogo{
    float: center;
    padding-right: 1cm;
    width: 150px;
}

.guestBanner{
    padding-right: 15cm;
    height: 200px;
    float: right;
    text-align: center;
}

.guestMain{
    padding-top: 200px;
    text-align: center;
}

.location{
    color: gold;
    text-size-adjust: larger;
}

.address{
    color: orange;
}

.date{
    color: burlywood;
}